/* Fuente personalizada */
/* --------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "jetbrainsmono";
    src: url(./font/JetBrainsMono-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "jetbrainsmono";
    src: url(./font/JetBrainsMono-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "jetbrainsmono";
    src: url(./font/JetBrainsMono-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* --------------------------------------------------------------------------------------------------- */

/* Estilos globales */
/* --------------------------------------------------------------------------------------------------- */
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jetbrainsmono";
    font-size: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "head"
        "main"
        "footer";
    background-color: var(--azulClaro);
}

html {
    --azul: #7b95e8ff;
    --azulClaro: #b1c2f6ff;
    --azulOscuro: #121c38ff;
    --azulExtraOscuro: #000b25ff;
    --violeta: #98a0b7ff;
    --violetaOscuro: #7984a4ff;
    --verde: #e5fff8ff;
    --amarillo: #efbe38ff;
    --amarilloClaro: #ffe08aff;
    --footerLogoWidth: clamp(1.3125rem, 1.1875rem + 0.625vw, 1.9375rem);
    --widthCalculadora: min(80vw, 65vh, 700px);
    --heightCalculadora: calc(var(--widthCalculadora) * (800 / 700));
    --radiusCalculadora: calc(var(--widthCalculadora) * 0.05);
    --widthDisplay: calc(var(--widthCalculadora) * calc(620 / 700));
    --heightDisplay: calc(var(--widthDisplay) * (215 / 620));
    --radiusDisplay: calc(var(--widthDisplay) * (30 / 620));
    --heightbuttonContainer: calc(var(--widthDisplay) * (465 / 620));
    --gapCalculator: calc(var(--widthCalculadora) * (40 / 700));
    --diameterbtn: calc(var(--widthCalculadora) * (80 / 700));
    --fontSizebtn: calc(var(--diameterbtn) * (35 / 80));
}
/* --------------------------------------------------------------------------------------------------- */

/* header */
/* --------------------------------------------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    padding-block: clamp(0.3125rem, 0.1875rem + 0.625vw, 0.9375rem);
    grid-area: head;
}

.pageTitle {
    font-size: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);
    font-weight: bold;
    color: var(--azulOscuro);
}
/* --------------------------------------------------------------------------------------------------- */

/* main */
/* --------------------------------------------------------------------------------------------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: var(--widthCalculadora);
    height: var(--heightCalculadora);
    background-color: var(--violeta);
    border-radius: var(--radiusCalculadora);
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    justify-content: center;
    align-content: center;
    row-gap: var(--gapCalculator);
}

.display {
    width: var(--widthDisplay);
    height: var(--heightDisplay);
    background-color: var(--verde);
    border-radius: var(--radiusDisplay);
}

.buttonContainer {
    width: var(--widthDisplay);
    height: var(--heightbuttonContainer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.btn {
    color: var(--azulExtraOscuro);
    background-color: var(--violetaOscuro);
    font-size: var(--fontSizebtn);
    font-weight: 500;
    width: var(--diameterbtn);
    height: var(--diameterbtn);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn.special {
    background-color: var(--amarilloClaro);
}

.btn.del {
    background-image: url("./img/delete.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: var(--fontSizebtn);
}

.btn.point {
    background-image: url("./img/circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: calc(var(--fontSizebtn) * 0.2);
}

.btn.equal {
    width: calc(var(--diameterbtn) * 2);
    background-color: var(--amarillo);
    border-radius: var(--diameterbtn);
}

/* --------------------------------------------------------------------------------------------------- */

/* footer */
/* --------------------------------------------------------------------------------------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    padding-block: clamp(0.3125rem, 0.1875rem + 0.625vw, 0.9375rem);
    grid-area: footer;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--footerLogoWidth) * 0.5);
}

.footerTitle {
    font-size: clamp(1.125rem, 1.0375rem + 0.43750000000000006vw, 1.5625rem);
    font-weight: 500;
    color: var(--azulOscuro);
}

.footerLogo {
    width: var(--footerLogoWidth);
}

/* --------------------------------------------------------------------------------------------------- */
